{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

        {% block title %}
            Сброс пароля
        {% endblock %}


{% block content %}

    <h1 class="mt-5 text-center">{% trans "Password Reset" %}</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-10 ">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary mt-2"/>
                    </div>
                </form>

            <p class="text-center mt-3">Нет аккаунта? <a href="{% url 'account_signup' %}">Зарегистрируйтесь</a><br>
                У вас есть аккаунт? <a href="{{ login_url }}">Войти</a>
            </p>


            </div>
        </div>
    </div>
{% endblock %}
