{% extends "base.html" %}

{% load i18n %}
{% load account %}

        {% block title %}
            Письмо отправлено
        {% endblock %}

{% block content %}
    <h1 class="mt-5 text-center">{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-10 ">
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                <p class="text-center">У вас есть аккаунт? <a href="{% url 'account_login' %}">Войти</a></p>


            </div>
        </div>
    </div>

{% endblock %}
