{% extends 'base.html' %}

        {% block title %}
            Проект {{ object.name }}
        {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">

                <h1 class="mt-5 text-center">Проект {{ object.name }}</h1>

                <ul class="mt-3 project-data">
                    <li><b>Token:</b> {{ object.token }}</li>
                    <li><b>Счетчик Я.Метрика:</b> {{ object.counter }}</li>
                    <li><b>Email:</b> {{ object.email }}</li>
                </ul>

                <div class="text-center">
                    <a href="{{ project.project_update_url }}" class="btn btn-primary mt-2 mb-2 btn-block">Изменить
                        данные</a>

                    <a href="{% url 'project_delete' pk=project.id %}" class="btn btn-outline-danger mt-2 mb-2">Удалить проект</a>
                </div>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Инструкция
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Для получения отчета за определенный период <b>без разбивки</b> по месяцам необходимо
                                    выбрать дату начала отчетного периода и дату окончания отчетного периода. Количество
                                    месяцев в отчете оставить 1.</p>
                                <p>Для получения отчета за определенный период <b>с разбивкой по месяцам</b> надо:</p>
                                <ul>
                                    <li>Выбрать выбрать дату начала отчета;</li>
                                    <li>Выбрать дату окончания отчета за первый месяц;</li>
                                    <li>Указать количество месяцев в отчете;</li>
                                </ul>
                                <p><b>Пример:</b> надо получить отчет с разбивкой по месяцам за период сентябрь,
                                    октябрь, ноябрь. Выбираем дату Начало 1 сентября, дату Конец 30 сентября, количество
                                    месяцев ставим 3.</p>
                                <p>Если возникли проблемы - напишите в телеграм <a href="https://t.me/not_tg_bot">@not_tg_bot</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <form action="{% url 'create_report' %}" method="post">

                            {% csrf_token %}
                            <input type="hidden" value="{{ object.token }}" name="token">
                            <input type="hidden" value="{{ object.name }}" name="name">
                            <input type="hidden" value="{{ object.counter }}" name="counter">
                            <input type="hidden" value="{{ object.id }}" name="project_id">
                            <input type="hidden" value="{{ object.email }}" name="email">

                            <label for="start-date" class="form-label detail-labels mt-3 mb-1">Начало отчетного
                                периода</label>
                            <input type="date" name="start-date" value="{{ today }}" max="{{ today }}"
                                   class="form-control" id="start-date">
                            <label for="end-date" class="form-label detail-labels mt-3 mb-1">Конец отчетного
                                периода</label>
                            <input type="date" name="end-date" value="{{ today }}" max="{{ today }}"
                                   class="form-control" id="end-date">

                            <label for="months" class="form-label detail-labels mt-3 mb-1">Количество месяцев в
                                отчете</label>
                            <input type="number" value="1" name="months" min="1" class="form-control" id="months">

                            <input type="submit" value="Сформировать отчет"
                                   class="btn btn-primary mt-2 mb-2 text-center">
                        </form>
                    </div>
                </div>

                <h2 class="mt-4 text-center">Готовые отчеты</h2>

                <ul class="project_link_list">
                    {% if object.links %}
                        {% for link in object.links.all %}
                            <li><a href="{{ link.text }}" target="_blank" class="btn btn-outline-dark mt-2">{{ link.name }}</a>



                                <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" id="{{ link.id }}" onClick="add_email_form(this.id)">
                                  Выдать доступ
                                </button>

                                <a href="/delete-link/{{ link.id }}" class="btn btn-outline-danger mt-2">X</a></li>
                        {% empty %}
                            <p class="mt-2 text-center">Здесь еще нет отчетов...</p>
                        {% endfor %}
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Предоставление доступа к файлу отчета</h5>
          <p></p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="{%  url 'share_link' %}" method="post">
      <div class="modal-body">

                {% csrf_token %}
                <input id="link_id_input" class="form-control form-control-lg" type="hidden" placeholder="link id"
                       aria-label=".form-control-lg example" name="link_id">
                <input class="form-control form-control-lg" type="text" placeholder="Введите email"
                       aria-label=".form-control-lg example" name="email">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary text-center">Выдать доступ</button>
      </div>
        </form>
    </div>
  </div>
</div>



<script type="text/javascript">
  function add_email_form(clicked_id)
  {
      document.getElementById("link_id_input").value = clicked_id
  }
</script>

{% endblock %}


